.login-container {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: rgb(0, 0, 0);
  }
  .username{
    font-size: 25px;
    color: white;
  }

  ::placeholder{
      color: rgb(252, 252, 252);
      opacity: 1; /* Firefox */
  }

  .signin-container #username{
    display: block;
    border:none;
    border-radius: 0px;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    margin: 0px;
    color: white;
  }

  .signin-container #username:focus{
    box-shadow: 0 4px 2px rgba(105, 140, 216, 0.2)
  }
  
   .login-container #password{
    display: block;
    border:none;
    border-radius: 0px;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    margin: 0px;
    color: red;
  }

  .login-container #password:focus{
    box-shadow: 0 4px 0 rgba(105, 140, 216, 2);
    color: white;
  }
  
  .login-box {
    width: 100%;
    max-width: 28rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding : 35px;
  }
  
  .login-box h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color:white;
  }
  
  .login-form {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0); /* Used to remove*/
    padding: 1.5rem 2rem 2rem;
    padding-bottom: 70px;
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }

  .input-icon{
    display:flex;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  
  .form-group label {
    display: block;
    color: #374151;
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
  }

  .error-message {
    color: #ef4444;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .submit-button {
    width: 100%;
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 25px;
  }
  
  .search-bar input::placeholder{
    color:black;
  }

  /*pablo*/
  .login-image {
      width: 400px; /* Adjust size as needed */
      height: auto;
      margin-right: 50px; /* Space between the image and form */
      border-radius: 3px;
    }

    /* farewell pablo's ice ;(
    body{
      background: url('https://storage.googleapis.com/blue_penguin/default/wall_paper_2.jpg') no-repeat;
      background-size: cover;
      background-position: center;
    }*/

    i{
      border-bottom: 2px solid black;
    }
    .login-container input{
      color:white;
    }
    body{
      background-color: rgb(255, 255, 255);
    }

    .nav-bar{
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 120px;
      position: fixed;
    }
    .nav-bar .bx{
      border:none;
      color: black;
    }
    .nav-bar .hover-action:hover{
      color:rgb(150, 150, 150);
    }
    .catergory:hover{
      color:rgb(150, 150, 150);
    }
    .logo a{
      color: rgb(71, 163, 255);
      font-size: 40px;
      text-decoration: none;
      font-weight: bold;



    }
    .search-bar{

      display: flex;
      justify-content: space-around;
    }
    .search-bar input{
      color: rgb(120, 120, 120);
      font-size: large;
      width: 120%;
      padding: 10px;
      border-radius: 5px 0 0 5px;
      font-weight: 20px;
      outline: none;
    }
    .search-bar button{
      font-size: large;
      padding: 10px 13px;
      border-radius: 0px 5px 5px 0;
      background-color: rgb(0, 106, 255);
      cursor:pointer;
      outline:none;
    }
    
    ul{
      list-style: none;
      display:flex;
    }
    ul li{
      margin-right: 20px;
    }
    ul li a {
      font-size : 20px;
      font-weight: bold;
      color:rgb(0, 0, 0);
      text-decoration: none;
      padding: 0 8px 8px 0;
    }
    ul li a:hover{
      color:rgb(150, 150, 150);
    }

    .register-link {
      text-align: center;
      margin-top: 1rem;
      color: white;
    }
    
    .register-link a {
      color: #3b82f6;
      text-decoration: none;
      font-weight: bold;
    }
    
    .register-link a:hover {
      text-decoration: underline;
    }