.login-container {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    font: white;
  }

  .username{
    font-size: px;
    font: white;
  }

  .login-container #username{
    display: block;
    border:none;
    border-radius: 0px;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    margin: 0px;
    font: white;
  }

  .login-container #username:focus{
    box-shadow: 0 4px 0 rgba(105, 140, 216, 2);
    font: white;
  }
  
   .login-container #password{
    display: block;
    border:none;
    border-radius: 0px;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    margin: 0px;
    font: red;
  }

  .login-container #password:focus{
    box-shadow: 0 4px 0 rgba(105, 140, 216, 2);
    color: white;
  }
  
  .login-box {
    width: 100%;
    max-width: 28rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 45px;
    padding : 35px;
  }
  
  .login-box h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color:white;
  }
  
  .login-form {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0); /* Used to remove*/
    padding: 1.5rem 2rem 2rem;
    padding-bottom: 70px;
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }

  .input-icon{
    display:flex;
  }
  
  .form-group label {
    display: block;
    color: #374151;
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .error-message {
    color: #ef4444;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .submit-button {
    width: 100%;
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    padding: 2.5rem 1.5rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 25px;
  }
  
  .submit-button:hover {
    background-color: #2563eb;
  }
  
  .submit-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
  }
  /*pablo*/
  .login-image {
      width: 400px; /* Adjust size as needed */
      height: auto;
      margin-right: 50px; /* Space between the image and form */
      border-radius: 3px;
    }
    body{
      background: url('https://storage.googleapis.com/blue_penguin/default/wall_paper_2.jpg') no-repeat;
      background-size: cover;
      background-position: center;
    }
    i{
      border-bottom: 2px solid black;
    }
    .login-container input{
      color:white;
    }
